/* *** Universal Styles *** */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, Helvetica, Arial, Verdana;
    color: var(--darkfont)
  }
  html {
    scroll-behavior: smooth;
  }
  body { 
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
  }
  .container {
    padding: 1em; 
  }
  .containerBox {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background);
    box-shadow: 0px 1px 10px var(--border);
  }
  .containerBoxDark {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--dark);
    box-shadow: 0px 1px 10px var(--border);
  }
  .containerBoxDark h3 {
    color: var(--background);
    padding: 1rem;
  }
  
  .containerBoxDark p {
    color: var(--background);
  }
  
  .containerBoxDark a {
    color: var(--background);
  }
  
  /* *** Root Styles *** */
  :root {
    --light: #74BBA5;
    --dark: #32696B;
    --darkfont: #193536;
    --background: #eeeeee;
    --seconddark: #62929E;
    --bright: #F3CA40;
    --border: #9e9b9b;
  }
   
  /* *** Headers, Paragraph, Image *** */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  } 
  p { 
    font-size: 16px;
    padding: 1rem;
    line-height: 1.4rem;
  }
  @-webkit-keyframes glow {
    from {text-shadow: 0 0 10px var(--dark);}
    to {text-shadow: 0 0 10px var(--light);}
  }
  img { 
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
   }
   .multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  /* *** Nav Section *** */
  nav { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "tt tt ss"
    "mu mu mu";
    background-color: var(--dark);
    box-shadow: 0px 0px 5px var(--border);
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  /* *** Title *** */
  #title {
    grid-area: tt;
    color: var(--background);
    padding: 0.5rem 0.5rem 0rem 1rem; 
  }
  
  /* *** Search *** */
  #search {
    display: grid;
    justify-items: end;
    grid-area: ss;
    padding: 1rem;
  }

  input {
    grid-area: 1 / 1;
    font-size: 1rem;
    height: 30px;
    width: 250px;
    border-radius: 1rem;
    border: var(--background);
    background-color: var(--background);
    padding: 0rem 1rem;
    outline: 1px solid white;
    outline-offset: 2px;
  }
  
  button {
    grid-area: 1 / 1;
    background-color: transparent;
    border: none;
    padding-right: 0.5rem;
    cursor: pointer;
  }
  
  .fa {
    font-size: 20px;
  }
  
  /* *** Menu *** */
  #menu {
    grid-area: mu;
    background-color: var(--background);
  }
  #menu ul {
    list-style-type: none;
    text-align: right;
    padding: 0.5rem;
  }
  #menu li {
    display: inline-block;
    text-align: center;
    margin-inline: 0.5rem;
  }
  #menu a {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--dark);
  }
  #menu a:hover,
  #menu a:focus {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(to left, violet, rgb(71, 106, 188), green, rgb(227, 227, 5), rgb(255, 0, 89), orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  /* *** Banner ***
  #banner {
    background-image: url(../Images/HomePage\ Banner\ Intranet.png);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100vw auto;
  }
  */
  
  /* *** Main Body Grid *** */
  .mainGrid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "wl wl sb"
    "wl wl pn";
    gap: 2rem;
  }
  
  /* *** Welcome Text *** */
  .welcome {
    grid-area: wl;
    border-radius: 10px;
    border: solid 1px var(--bright);
  }
  .welcome h4 {
    color: var(--dark);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bright);
    border-radius: 7px 7px 0px 0px;
  }
  .welcome ul {
    padding-bottom: 1rem;
  }
  .welcome li {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.5;
    list-style-image: url("../images/LGBTQI+ Check Tick.png");
    margin-left: 2rem;
  }
  .welcomeContainerBox {
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
  }
  
  /* *** Thank You Text *** */
  .messageBanner h6 {
    text-align: center;
    padding: 1rem;
  }
  
  /* *** Side Bar *** */
  .sidebar {
    grid-area: sb;
    overflow-y: auto;
    height: 400px;
  }
  .sidebar h6 {
    color: var(--dark);
    padding-bottom: 0.5rem;
  }
  .sidebarContainerBox {
    border-radius: 1px;
    border-bottom: 1px solid var(--border);
  }
  .sidebarContainerBox p {
    font-size: 14px;
  }
  .sidebar1 {
    grid-area: pn;
  }
  .sidebar2 {
    grid-area: gt;
  }
  
  /* *** Charity Updates *** */
  .updates {
    padding: 0rem 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "ti ti ti"
    "ar1 ar2 ar3"
    "ar1 ar2 ar4";
    gap: 2rem;
  }
  .updates h3 {
    grid-area: ti;
    color: var(--darkfont);
    text-align: center;
  }
  .updatesBox {
    border-radius: 0rem 2rem;
    background-color: var(--background);
    padding: 1rem;
    box-shadow: 0px 5px 20px var(--border);
    min-width: 200px;
    border: 2px solid white;
  }
  .ar1 {
    grid-area: ar1;
    background-image: url(../images/Exeter\ Cathedral-img.webp);
    background-size: cover;
    display: flex;
    align-items: end;
  }
  .ar1 p {
    color: var(--darkfont);
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 0.5rem;
  }
  .ar2 {
    grid-area: ar2;
  }
  .ar3 {
    grid-area: ar3;
  }
  .ar4 {
    grid-area: ar4;
    font-weight: bold;
  }
  .updatesBox li {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 1rem;
    color: var(--darkfont);
    line-height: 1.4rem;
    text-align: left;
  }
  .updatesBox p {
    color: var(--darkfont);
    line-height: 1.4rem;
    text-align: left;
  }
  
  /* *** Circle Menus *** */
  .menuCirclesContainer {
    padding: 2rem;
  }
  .menuCircles,
  .menuCircles a {
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-flow: row wrap;
    text-decoration: none;
    gap: 1rem;
  }
  .circleBox {
    min-width: 150px;
    min-height: 150px;
    text-align: center;
    padding: 0.5rem;
    border: 5px double var(--background);
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #9e9b9b;
    background-image: linear-gradient(to left, violet, rgb(191, 135, 231), rgb(125, 218, 125), rgb(88, 188, 222), rgb(227, 85, 135), orange, red);
    transition: transform 1s;
  }
  .circleBoxRainbow {
    color: white;
    font-size: 20px;
  }
  .circleBox:hover,
  .circleBox:focus {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
    animation: glow 0.5s ease-in-out infinite alternate;
    transform: scale(0.80); 
  }
  
  /* *** Next Steps *** */
  .next {
    background-color: var(--seconddark);
  }
  .nextText {
    padding: 2rem;
  }
  .nextText h3 {
    color: var(--background);
    padding: 1rem;
    background-color: #F3CA40;
    color: #62929E;
    display: inline-block;
		transform: skewX(-10deg);
    width: 50%;
    border-right: 20px double var(--dark);
  }
  .nextText p {
    color: var(--background);
  }
  .nextText a {
    color: var(--background);
  }
  
  /* *** Recruit *** */
  .containerBoxRecruit {
    padding: 2rem 6rem;
    background-color: var(--background);
  }
  .recruit {
    border-radius: 0.2rem;  
    text-align: center;
    padding: 1rem 6rem;
  }
  .recruit h6 {
    display: inline-block;
    padding: 0.5rem; 
    font-size: 13px;
    background-color: var(--bright);
    color: var(--seconddark);
		transform: skewX(-10deg);
  }
  .recruit b {
    font-size: 20px;
    line-height: 1.3;
    word-spacing: 0.2rem;
    color: var(--seconddark);
  }
  .recruit p {
    font-size: 20px;
    line-height: 1.3;
    word-spacing: 0.2rem;
    color: var(--seconddark);
  }
  .recruit a {
    font-size: 20px;
    line-height: 1.3;
    word-spacing: 0.2rem;
    color: var(--seconddark);
  }
  .recruit li {
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: url("../images/LGBTQI+ Check Tick.png");
    font-size: 20px;
    line-height: 1.3;
    word-spacing: 0.2rem;
    color: var(--bright);
    font-weight: bold;
  }

  /* *** Footer Section *** */
  footer { 
    margin-top: auto;
    background-color: var(--dark);
    box-shadow: 0px 0px 10px #9e9b9b;
  }
  footer .container {
  display: flex;
  justify-content: flex-end;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "ft ft cn cn cn";
    gap: 2rem;
  }
  
  /* *** Footer Menu *** */
  #footerMenu {
    grid-area: ft;
    columns: 2;
  }
  #footerMenu ul {
    list-style-type: none;
  }
  #footerMenu li {
    padding: 0.5em;
  }
  #footerMenu a {
    text-decoration: none;
    color: var(--bright);
  }
  #footerMenu a:hover,
  #footerMenu a:focus {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* *** Footer Contact Info *** */
  #footerColumns {
    grid-area: cn;
    columns: 2;
  }
  #footerColumns ul {
    list-style-type: none;
  }
  #footerColumns li {
    padding: 0.5em;
    color: var(--background);
  }
  #footerColumns a {
    color: var(--background);
  }
